<a routerLink="/addProduit"  class="wawes-effect wawes-black btn right orange" >Ajouter </a>

<!-- <table id="table_id" class="responsive-table striped ">
  <thead class="white-text red blue-grey darktext ">
  <tr>
    <th>ID PRODUIT</th>
    <th>IMAGE</th>
    <th>DESIGNATION</th>
    <th>DESCRIPTIF</th>
    <th>PRIX UHT</th>
    <th>REF INTERNE</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let p of produits ">
    <td style="width : 10%">{{p.idProduit}}</td>
      <img style="width : 10%"  src="http://localhost:8089/{{p.imgProduit}}" />
      <td style="width : 10%">{{p.designationProduit}}</td>
      <td style="width : 10%">{{p.descriptifProduit}}</td>
      <td style="width : 10%">{{p.prixVenteUProduit}} €</td>
      <td style="width : 10%">{{p.refInterneProduit}}</td>
    <td>
      <a class="waves-effect wave-light btn red " routerLink="/edit/{{ p.idProduit }}">Edit</a>
      <a class="waves-effect wave-light btn red " routerLink="/produit/{{ p.idProduit }}">delete</a>
    </td>
</tr>

</tbody> -->



<div class="table-responsive">
<table class="table align-middle table-bordered align-middle" style="text-align: center;">

    <thead>
      <tr>
      <th>ID PRODUIT</th>
      <th style="width: 100px">IMAGE</th>
      <th style="width: 10px">DESIGNATION</th>
      <th style="width: 50px">DESCRIPTIF</th>
      <th>PRIX UHT</th>
      <th>REF INTERNE</th>
      <th style="width: 5%">AJOUTER</th>
      <th style="width: 5%">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-bottom">
        <tr *ngFor="let p of produits ">
          <td style="width : 10%">{{p.idProduit}}</td>
            <img src="http://localhost:8089/{{p.imgProduit}}" style="height: 200px;"/>
            <td style="width : 10%">{{p.designationProduit}}</td>
            <td style="width : 10%">{{p.descriptifProduit}}</td>
            <td style="width : 10%">{{p.prixVenteUProduit}} €</td>
            <td style="width : 10%">{{p.refInterneProduit}}</td>
            <td><a class="waves-effect wave-light btn red " routerLink="/edit/{{ p.idProduit }}"  style=" color: blue;">[Edit]</a></td>

            <td><a class="waves-effect wave-light btn red " routerLink="/produit/{{ p.idProduit }}" style="color: rgb(255, 0, 0);"> [Delete]</a></td>


      </tr >

    </tbody>

</table>
</div>
