<div class="row">
  <form class="col s12" [formGroup]="editForm" (ngSubmit)="update()">
    <div class="row">
      <div></div>

      <div class="input-field col s16">
        <label for="idProduit">ID :  </label>
        <input id="idProduit" type="text" formControlName="idProduit" data-length ="10">

      </div>
      <div class="input-field col s16">
        <label for="refInterneProduit">REF Interne :  </label>
        <input id="refInterneProduit" type="text" formControlName="refInterneProduit" data-lenth ="10">

      </div>
      <div class="input-field col s16">
        <label for="designationProduit">Designation :  </label>
        <input id="designationProduit" type="text" formControlName="designationProduit" data-length ="10">

      </div>
      <div class="input-field col s16">
        <label for="descriptifProduit">Descriptif :  </label>
        <input id="descriptifProduit" type="text" formControlName="descriptifProduit" data-length ="10">

      </div>
      <div class="input-field col s16">
        <label for="prixVenteUProduit">Prix Vente HT :  </label>
        <input id="prixVenteUProduit" type="text" formControlName="prixVenteUProduit" data-length ="10">

      </div>
      <div class="input-field col s16">
        <label for="imgProduit">Image :  </label>
        <input id="imgProduit" type="text" formControlName="imgProduit" data-lenth ="10" >

      </div>

    </div>
    <button type="submit" [disabled]="!editForm.valid">Valider</button>

  </form>
</div>
